* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* style banner section */
.banner {
    background-image: url('../images/banner/banner3.png');
    width: 1600px;
    height: 809px;  
}


.banner-title {
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #FFFFFF;
    font-style: Bold;
    position: absolute;
}

.banner-description {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    color: #FFFFFF;
}

.button-primary {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #005FAC;
    border: none;
}

/* all section margin bottom */
section {
    padding-top: 132px;
  }

  
/* failure section style  */

.failure {
    display: flex;
    align-items: center;
  }
  .person_image {
    margin-left: 206px;
  }

  .failure_content {
    width: 420px;
    margin-left: 87px;
    margin-top: 130px;
  }
  .failure-title {
    font-weight: 700;
    font-size: 40px;
    width: 281px;
    padding-bottom: 24px;
    color: #151414;
  }
  .failure-description {
    padding-bottom: 16px;
    line-height: 26px;
    color: #444343;
  }
  .failure_content ul {
    list-style: none;
  }
  .failure_content ul li {
    padding-top: 16px;
    color: #444343;
  }
  .failure_content ul li i {
    color: #16d887;
  }

/* my-plans style */
.my-plans {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
}

.plans-container {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    margin: 50px 140px 0;
}

.plan-icon {
    width: 92.96px;
    height: 92.96px;
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #151414;
    margin-bottom: 16px;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    color: #737272;
}


/* wrist watch section style */
.wrist-watch {
   background-image: url('../images/watch.png'), linear-gradient(90deg, #005FAC 0%, white);
   border-radius: 8px;
   background-position: center;
   background-repeat: no-repeat;
   background-blend-mode: multiply;
   background-size: cover;
   margin: 0 230px;
   width: 1140px;
   height: 300px;
}

.watch-content {
    padding: 60px 64px;
}

.watch-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    width: 459px;
    height: 94px;
}

.primary-button1 {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #005FAC;
    border: none;
    margin-top: 15px;
    background: #FFFFFF;
    border-radius: 5px;
}